* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  min-height: 100vh;
  
  display: flex;
  flex-wrap: wrap;
}

form {
  flex: 50%;
  max-width: 50%;
  padding: 2rem;
}

input[type=text], input[type=email], input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}