.ListDetailsContainer {
    flex: 50%;
    max-width: 50%;
    padding: 2rem;
}

.details {
    background-color: gray;
    margin: 1rem 0;
    padding: 1rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.details .details_left {
    flex: 80%;
    max-width: 80%;
}

.details .details_right {
    flex: 20%;
    max-width: 20%;
}

.details .details_right button {
    background-color: brown;
    color: white;
    padding: 0.3rem 0.5rem;
    margin: 0.1rem 0;
    width: 100%;
}